{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        /*Ya no necesitas importar React en los archivos con esto */
        "runtime": "automatic"
      }
    ]
  ]
}
